// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Sedgwick+Ave+Display&display=swap');

// 2. Include any default variable overrides here
$link-decoration: none;
$black: #1c1c1c;
$white: #F0F8FF;
$primary: #0DB9F2;
$secondary: #F63AC1;
$info: #3AF6C0;


// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
body{
	font-family: "Figtree", sans-serif;
	color: #1c1c1c;
	max-width: 768px;
}

h1,h2,h3,h4,h5,h6{
	font-family: "Sedgwick Ave Display", sans-serif;
}

.fw-black{
	font-weight: 900;
}

.fs-countdown{
	font-size: 96px;
}

.fs-price{
	font-size: 42px;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-center-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navbar-brand{
	height: 50px;
	width: 42px;
}

.heroImg{
	background-image: url("../images/hero.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
}

.heroImg h1{
	font-size: 48px;
}

// Banner
.marquee-wrapper{
	white-space: nowrap;
	position: relative;
}

.marquee-track{
	display: inline-flex;
	animation: scroll 10s linear infinite;
}

@keyframes scroll {
	from { transform: translateX(0); }
	to   { transform: translateX(-50%); } /* because we duplicate the content */
}

@media (prefers-reduced-motion: reduce){
	.marquee-track{ animation: none; }
}

// Gradient
.gradients {
	background: linear-gradient(90deg, #3AF6C0, #0DB9F2, #F63AC1);
	background-size: 300% 100%; /* make it wide enough to scroll */
	background-position: 0 0;
	animation: gradientScroll 10s linear infinite;
	animation-direction: alternate;

	width: 100%;
	height: 5px;
	flex-shrink: 0;
}

@keyframes gradientScroll {
	0% { background-position: 0 0; }
	100% { background-position: 100% 0; }
}

.gradients-reverse {
	background: linear-gradient(90deg, #3AF6C0, #0DB9F2, #F63AC1);
	background-size: 300% 100%; /* make it wide enough to scroll */
	background-position: 0 0;
	animation: gradientScroll 10s linear infinite;
	animation-direction: alternate-reverse;

	width: 100%;
	height: 5px;
	flex-shrink: 0;
}

@keyframes gradientScroll {
	0% { background-position: 0 0; }
	100% { background-position: 100% 0; }
}

// Kunstnere
.artistName{
	text-shadow: 0 0 10px #000;
}

// Praktisk information
.accordion h2 {
	font-family: "Figtree", sans-serif;
	font-weight: 700;
}

// Tickets
.ticketCard{
	position: relative;
	background: #F0F8FF;
	border-radius: 10px;
}

.ticketCard2{
	position: relative;
	background: #F0F8FF;
	border-radius: 10px;
}

.btn-gradient{
	background: linear-gradient(90deg, #3AF6C0, #0DB9F2, #F63AC1);
}

.btn-gradient-2{
	background: linear-gradient(90deg, #3AF6C0, #0DB9F2);
}

.ticketCard::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	border-radius: 10px;

	width: calc(100% + 10px);
	height: calc(100% + 10px);

	background: linear-gradient(135deg, #3AF6C0, #0DB9F2, #F63AC1);
}

.ticketCard2::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	border-radius: 10px;

	/* Expand background beyond the card by 15px on all sides */
	width: calc(100% + 6px);
	height: calc(100% + 7px);

	background: linear-gradient(135deg, #3AF6C0, #0DB9F2);
}


